
body {
    background-color: black;
    color: seashell;
    font-size: 22px;
    font-family: Helvetica;
    opacity: 0.9;
    margin: 0 auto;
}

header {
    display: flex;
    border-bottom: 1px solid seashell;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 69px;
    align-items: center;
    padding: 0 10px;
    z-index: 1;
}

header img {
    height: 50px;
   
}

nav {
    display: flex;
    justify-content: right;
    width: 100%;
    position: fixed;
}

nav li {
    display: inline-flex;
    padding-right: 1rem;
}

nav li a {
    color: seashell;
    font-style: underline;
}

@media only screen and (max-width: 575px) {
    nav {
        display: none;
     }

    body {
        font-size: 16px;
    }
 }

main {
    position: absolute;
    top: 69px;
    width: 100%;
}

#Mission {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/img-mission-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 95%;
    margin: auto;
}

#mission-banner {
    align-items: center;
    background-color: black;
    text-align: center;
    width: 100%;
}

h2, h4 {
    margin: .75rem;
}

#TOM {
    margin-bottom: 4rem;
}

#TOM-title {
    text-align: center;
    padding-top: 4rem;
}

#tea-flavors {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.flavor img {
    display: flex;
    height: 200px;
    height: 200px;
    padding: 1rem;
}

#locations-section {
    display: block;
    position: relative;
    background-image: url("./images/img-locations-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 500px;
    width: 95%;
}

@media only screen and (max-width: 1094.5px) {
    #locations-section {
        height: 850px;
     }
 }

 @media only screen and (max-width: 736px) {
    #locations-section {
        height: 1150px;
     }
 }

#loc-title h2 {
    text-align: center;
    width: 100%;
    padding-top: 5rem;
    margin: 0;
 }

#option-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.options {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 300px;
     width: 300px;
     margin: 15px 20px;
     background-color: black;
     opacity: 0.8;
 }

#Contact h1, #Contact p {
    padding: .75rem;
    text-align: center;
}

footer {
    padding-left: 20px;
}